@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/* 共通部分 */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  line-height: 1.67;
}

.inner {
  width: 85%;
  margin: 0 auto;
  padding-top: 260px;
}

@media only screen and (max-width: 910px) {
  .inner {
    padding-top: 60px;
  }
}

.section-title {
  margin-bottom: 20px;
  color: #707070;
  font-size: 1.8rem;
  font-family: "Roboto";
  position: relative;
}

.section-title::after {
  position: absolute;
  top: calc(50% - 1px);
  width: 100px;
  height: 1px;
  margin-left: 22px;
  content: "";
  border-top: 1px solid #707070;
}

.pc-img {
  display: block;
}

@media only screen and (max-width: 910px) {
  .pc-img {
    display: none;
  }
}

.sp-img {
  display: none;
}

@media only screen and (max-width: 910px) {
  .sp-img {
    display: block;
  }
}

header {
  width: 100%;
  position: absolute;
  padding: 45px 70px;
}

@media only screen and (max-width: 910px) {
  header {
    padding: 25px 20px;
    background-color: #fff;
    z-index: 10;
  }
}

@media only screen and (max-width: 910px) {
  nav {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  margin-left: 20px;
  font-size: 1.8rem;
  color: #707070;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-size: 3.8rem;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 910px) {
  .header-title {
    font-size: 2.2rem;
  }
}

#first-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 910px) {
  #first-view {
    position: relative;
  }
}

.firstView-textWrap {
  width: 46%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 910px) {
  .firstView-textWrap {
    position: absolute;
    width: 100%;
    top: calc(50% - 5vh);
    color: #fff;
    text-shadow: 0px 3px 16px #000000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.firstView-textWrap-top {
  font-size: 3.8rem;
  font-family: "ヒラギノ明朝 Pro", "Regular";
  margin-bottom: 50px;
  letter-spacing: 3.8px;
}

@media only screen and (max-width: 910px) {
  .firstView-textWrap-top {
    font-size: 6vw;
  }
}

.firstView-textWrap-bottom {
  font-size: 3.8rem;
  font-family: "Zapfino";
  letter-spacing: 3.8px;
}

@media only screen and (max-width: 910px) {
  .firstView-textWrap-bottom {
    font-size: 4.5vw;
  }
}

.fv-img {
  width: 54%;
  height: auto;
}

@media only screen and (max-width: 910px) {
  .fv-img {
    width: 100%;
    height: auto;
  }
}

.fv-img img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

#conceput {
  background: -webkit-gradient(linear, left top, left bottom, from(#a193861f), color-stop(45%, #a193861f), color-stop(45%, #a1938689));
  background: linear-gradient(180deg, #a193861f 0%, #a193861f 45%, #a1938689 45% #a1938689 100%);
}

@media only screen and (max-width: 910px) {
  #conceput {
    background: -webkit-gradient(linear, left top, left bottom, from(#a193861f), color-stop(25%, #a193861f), color-stop(25%, #a1938689));
    background: linear-gradient(180deg, #a193861f 0%, #a193861f 25%, #a1938689 25% #a1938689 100%);
  }
}

.concept-imgWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media only screen and (max-width: 910px) {
  .concept-imgWrap {
    margin-bottom: 50px;
  }
}

.concept-imgTop {
  width: 60%;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 910px) {
  .concept-imgTop {
    width: 50%;
    height: auto;
  }
}

.concept-imgBottom {
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 910px) {
  .concept-imgBottom {
    width: 50%;
    height: auto;
  }
}

.concept-textWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 950px;
  color: #ffffff;
}

@media only screen and (max-width: 910px) {
  .concept-textWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.concept-textWrap-title {
  white-space: nowrap;
  font-size: 4rem;
  font-family: "ヒラギノ明朝 Pro", "W3";
  letter-spacing: 16px;
}

@media only screen and (max-width: 910px) {
  .concept-textWrap-title {
    font-size: 2rem;
    letter-spacing: 1.6px;
  }
}

.concept-textWrap-content {
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro";
}

@media only screen and (max-width: 910px) {
  .concept-textWrap-content {
    width: 100%;
    margin: 20px 0 60px;
    letter-spacing: 1.6px;
  }
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}

@media only screen and (max-width: 910px) {
  .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  font-family: "Roboto Mono for Powerline", Regular;
}

@media only screen and (max-width: 910px) {
  .menu-item {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }
}

.menu-item-img {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.menu-item__title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
}

@media only screen and (max-width: 910px) {
  .menu-item__title {
    text-align: left;
  }
}

.menu-item__text {
  margin-bottom: 35px;
  font-size: 1.6rem;
}

.menu-item__price {
  text-align: right;
  font-size: 1.6rem;
}

#access {
  background: #a193861f;
  padding-bottom: 70px;
  overflow: hidden;
  position: relative;
}

.access-contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 calc(50% - 50vw);
  background: #d0c5ba;
}

@media only screen and (max-width: 910px) {
  .access-contentWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.access-content {
  margin-left: 8vw;
  margin-top: 100px;
}

@media only screen and (max-width: 910px) {
  .access-content {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.access-content ul li {
  margin-bottom: 10px;
  color: #ffffff;
  letter-spacing: 1.6px;
  font-size: 1.6rem;
  font-family: "Mono for Powerline";
}

.access-title {
  margin-bottom: 30px;
  color: #00000038;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Roboto Mono for Powerline", Bold;
}

.access-map {
  width: 60%;
}

@media only screen and (max-width: 910px) {
  .access-map {
    width: 100%;
    height: 230px;
  }
}

@media only screen and (max-width: 910px) {
  footer {
    padding-top: 155px;
    padding-bottom: 20px;
  }
}

.footer-itemsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  position: relative;
}

.footer-itemsWrap::before {
  content: "";
  border-top: 1px solid #70707036;
  width: 100%;
  position: absolute;
  top: -80px;
}

@media only screen and (max-width: 910px) {
  .footer-itemsWrap::before {
    top: -130px;
  }
}

@media only screen and (max-width: 910px) {
  .footer-itemsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-item__title {
  color: #7070704d;
  font-size: 3.2rem;
}

@media only screen and (max-width: 910px) {
  .footer-item__title {
    font-size: 1.8rem;
  }
}

.footer-item__icons {
  margin-left: 20px;
  margin-right: 10px;
}

.footer-item__icons i {
  margin-right: 10px;
}

.footer-reserve {
  font-size: 1.2rem;
  font-family: "Roboto Mono for Powerline";
  color: #707070;
  background-color: inherit;
  border-color: #d6d2d2;
  height: 37px;
  width: 10vw;
  cursor: pointer;
}

@media only screen and (max-width: 910px) {
  .footer-reserve {
    width: 185px;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 10px 40px;
  }
}
/*# sourceMappingURL=main.css.map */