#conceput {
    background: linear-gradient(
        180deg,
        #a193861f 0%,
        #a193861f 45%,
        #a1938689 45% #a1938689 100%
    );
}

.concept-imgWrap {
    display: flex;
    justify-content: space-between;
}
