#conceput {
    background: linear-gradient(
        180deg,
        #a193861f 0%,
        #a193861f 45%,
        #a1938689 45% #a1938689 100%
    );

    @media only screen and (max-width: 910px) {
        background: linear-gradient(
            180deg,
            #a193861f 0%,
            #a193861f 25%,
            #a1938689 25% #a1938689 100%
        );
    }
}

.concept-imgWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    @media only screen and (max-width: 910px) {
        margin-bottom: 50px;
    }
}

.concept-imgTop {
    width: 60%;
    height: auto;
    margin-right: 20px;

    @media only screen and (max-width: 910px) {
        width: 50%;
        height: auto;
    }
}

.concept-imgBottom {
    width: 40%;
    height: auto;
    @media only screen and (max-width: 910px) {
        width: 50%;
        height: auto;
    }
}

.concept-textWrap {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 950px;
    color: #ffffff;

    @media only screen and (max-width: 910px) {
        flex-direction: column;
        text-align: center;
    }
}

.concept-textWrap-title {
    white-space: nowrap;
    font-size: 4rem;
    font-family: "ヒラギノ明朝 Pro", "W3";
    letter-spacing: 16px;

    @media only screen and (max-width: 910px) {
        font-size: 2rem;
        letter-spacing: 1.6px;
    }
}

.concept-textWrap-content {
    font-size: 1.6rem;
    font-family: "ヒラギノ角ゴ Pro";

    @media only screen and (max-width: 910px) {
        width: 100%;
        margin: 20px 0 60px;
        letter-spacing: 1.6px;
    }
}
