#conceput {
    background: linear-gradient(
        180deg,
        #a193861f 0%,
        #a193861f 45%,
        #a1938689 45% #a1938689 100%
    );
}

.concept-imgWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.concept-imgTop {
    width: 60%;
    height: auto;
    margin-right: 20px;
}

.concept-imgBottom {
    width: 40%;
    height: auto;
}

.concept-textWrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
}

.concept-textWrap-title {
    margin-right: 60px;
    font-size: 4rem;
    font-family: "ヒラギノ明朝 Pro", W3;
    width: 100%;
}

.concept-textWrap-content {
    width: 100%;
    font-size: 1.6rem;
    font-family: "ヒラギノ角ゴ Pro";
}
