#first-view {
    display: flex;
}

.firstView-textWrap {
    width: 46%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-top {
        font-size: 3.8rem;
        font-family: "ヒラギノ明朝 Pro";
        margin-bottom: 50px;
        letter-spacing: 3.8px;

        @include tab {
            font-size: 2.5vw;
        }
    }

    &-bottom {
        font-size: 3.8rem;
        font-family: "Zapfino";
        letter-spacing: 3.8px;

        @include tab {
            font-size: 2.5vw;
        }
    }
}
.fv-img {
    width: 65%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}
