footer {
    @media only screen and (max-width: 910px) {
        padding-top: 155px;
        padding-bottom: 20px;
    }
}

.footer-itemsWrap {
    display: flex;
    justify-content: space-between;
    height: 32px;
    position: relative;

    &::before {
        content: "";
        border-top: 1px solid #70707036;
        width: 100%;
        position: absolute;
        top: -80px;

        @media only screen and (max-width: 910px) {
            top: -130px;
        }
    }

    @media only screen and (max-width: 910px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item__title {
    color: #7070704d;
    font-size: 3.2rem;

    @media only screen and (max-width: 910px) {
        font-size: 1.8rem;
    }
}

.footer-item__icons {
    margin-left: 20px;
    margin-right: 10px;

    i {
        margin-right: 10px;
    }
}

.footer-reserve {
    font-size: 1.2rem;
    font-family: "Roboto Mono for Powerline";
    color: #707070;
    background-color: inherit;
    border-color: #d6d2d2;
    height: 37px;
    width: 10vw;

    cursor: pointer;

    @media only screen and (max-width: 910px) {
        width: 185px;
        margin: 0 auto;
        margin-bottom: 60px;
        padding: 10px 40px;
    }
}
