header {
    width: 100%;
    position: absolute;
    padding: 45px 70px;

    nav {
        width: 45%;

        ul {
            display: flex;

            li {
                a {
                    margin-left: 20px;
                    font-size: 1.8rem;
                    color: #707070;
                }
            }
        }
    }
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 3.8rem;
    font-family: "Roboto", sans-serif;
}
