/* 共通部分 */
html {
    font-size: 62.5%; //10px=1remになる
}

body {
    font-size: 1.2rem;
    line-height: 1.67;
}

.inner {
    width: 85%;
    margin: 0 auto;
    padding-top: 260px;
}

.section-title {
    margin-bottom: 20px;
    color: #707070;
    font-size: 1.8rem;
    font-family: "Roboto";
    position: relative;

    &::after {
        position: absolute;
        top: calc(50% - 1px);
        width: 100px;
        height: 1px;
        margin-left: 22px;
        content: "";
        border-top: 1px solid #707070;
    }
}

/* mixin */
// PC画面サイズ以上
@mixin pc {
    @media (min-width: 1025px) {
        @content;
    }
}

// タブレット画面
@mixin tab {
    @media (max-width: 1024px) {
        @content;
    }
}

// スマホ画面
@mixin sp {
    @media (max-width: 599px) {
        @content;
    }
}
