/* 共通部分 */
html {
    font-size: 62.5%; //10px=1remになる
}

body {
    font-size: 1.2rem;
    line-height: 1.67;
}

.inner {
    width: 85%;
    margin: 0 auto;
    padding-top: 260px;

    @media only screen and (max-width: 910px) {
        padding-top: 60px;
    }
}

.section-title {
    margin-bottom: 20px;
    color: #707070;
    font-size: 1.8rem;
    font-family: "Roboto";
    position: relative;

    &::after {
        position: absolute;
        top: calc(50% - 1px);
        width: 100px;
        height: 1px;
        margin-left: 22px;
        content: "";
        border-top: 1px solid #707070;
    }
}

.pc-img {
    display: block;

    @media only screen and (max-width: 910px) {
        display: none;
    }
}

.sp-img {
    display: none;

    @media only screen and (max-width: 910px) {
        display: block;
    }
}
